/**
 * @file Forms.
 */

.form-group {
  position: relative;
}

.input-icon {
  border-right: 1px solid #d7d7d7;
  line-height: 22px;
  margin: 6px 10px 6px 0;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 36px;

  + .form-control {
    padding-left: 45px;
  }
}

.input-group {
  .input-icon {
    z-index: 3;
  }
}

label {
  font-weight: 500;

  +.input-icon,
  +abbr +.input-icon {
    top: 24px;
  }
}
